{{!-- jumbotron container --}}
<div class="container">
    <div class="jumbotron">
        <h1 class="display">Samsons' Burgers</h1>
        <h3>Help us create our future menu by adding your idea below:</h3>
    </div>

    {{!-- <h1> Burgers </h1> --}}
    <div class="col-md-4"></div>
    <h2 class = "card-img-top">Burger Available on the menu:</h2>
    <ol>
        <ul>
            {{#each burger}}
              {{#unless devour}}
                {{> burger/burger-block devour = true}}
              {{/unless}}
            {{/each}}
        </ul>
    </ol>

    {{!-- Menu centerpiece --}}
    <div class="col-md-4"></div>
        <h2>Add a Burger to our menu:</h2>
        <img src="/assets/css/Classic Burger.jpg" class="card-body" id="menu">
          <form class="create-form">
              <div class="form-group">
                <label for="addBurger">Burger Name:</label>
                <input type="text" id="addBurger" name="name">
              </div>
              <button type="submit" class="btn btn-info">Add Burger!</button>
          </form>
    </div>


{{!-- List of burgers added --}}
  <div class="col-md-4">
    <h2 class="card-img-top">Burgers Devoured: </h2>
    <ol>
      {{#each burger}}
        {{#if devour}}
            <li>
            {{!-- devoured state helps to show, 
            if this item should appear on the list or not.  --}}
            {{> burger/burger-block devour = false}}
            </li>
        {{/if}}
      {{/each}}
    </ol>
  </div>


{{!-- 
    <h2>Burger In progress being Devoured</h2>

    <ul>
        {{#each burger}}
        {{#if devour}}
        {{> burger/burger-block devour = false}}
        {{/if}}
        {{/each}}
    </ul>
--}}

    {{!-- 
  <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="addBurger">Burger Name:</label>
            <input type="text" id="addBurger" name="name">
        </div>

        <button type="submit">Add Burger </button>
    </form>
 --}}