* {
  font-family: 'Alegreya', cursive;
  font-size: small;
  /* text-align: center */
}

.create-form {
  padding: 15px;
  margin: 15px;
}
  
.form-group {
    margin-bottom: 5px;
}
   
.card-body {
  text-align: center;
}

.card-img-top {
   text-align: left;
}

ul {
  list-style: none;
}

