{{!-- this is the button for delete the Devoured Burger --}}
<li>
    {{name}}
    {{!-- devour status is set, when user click on a button in index.handlebar --}}
    <button class="delete-devour" data-id="{{id}}">
        Delete Burger
    </button>
</li>